<div id="darken" style="display: none;">How can you see me?  Try pressing [Shift] or [Ctrl]</div>

<div style="display: none;" id="hotbox-wrapper">
    <div id="hotbox-panel-1" class="hotbox-panel centered-panel" style="display: block;">
		<div class="hotbox-header">
		
		<h2 class="hotbox-curr">Page 1</h2>
		<div class="hotbox-arrows">
			<a href="#" class="hotbox_links br-go-previous small">[Ctrl]<span></span></a>
			<a href="#" class="hotbox_links br-go-next small"><span></span>[Shift]</a>
			<a href="#" class="hotbox_links br-exit small"></a>
		</div>

		</div>
         <div class="hotbox-row clearfix">
            <a href="#" class="placeholder" id="p1-r1-c1"></a>
            <a href="#" class="placeholder" id="p1-r1-c2"></a>
            <a href="#" class="placeholder" id="p1-r1-c3"></a>
            <a href="#" class="placeholder last" id="p1-r1-c4"></a>
         </div>

         <div class="hotbox-row clearfix"> 
            <a href="#" class="placeholder" id="p1-r2-c1"></a>
            <a href="#" class="placeholder" id="p1-r2-c2"></a>
            <a href="#" class="placeholder" id="p1-r2-c3"></a>
            <a href="#" class="placeholder last" id="p1-r2-c4"></a>
         </div>
         <div class="hotbox-row last-row clearfix">

            <a href="#" class="placeholder" id="p1-r3-c1"></a>
            <a href="#" class="placeholder" id="p1-r3-c2"></a>
            <a href="#" class="placeholder" id="p1-r3-c3"></a>
            <a href="#" class="placeholder last" id="p1-r3-c4"></a>
        </div>
        <div class="indicator">
            <span class="left"></span>
            <span class="center active"></span>
            <span class="right"></span>
        </div>
    </div>
    
    <div style="display: none;" id="hotbox-panel-2" class="hotbox-panel centered-panel">

		<div class="hotbox-header">
		<h2 class="hotbox-curr">Page 2</h2>
		<div class="hotbox-arrows">
			<a href="#" class="hotbox_links br-go-previous small">[Ctrl]<span></span></a>
			<a href="#" class="hotbox_links br-go-next small"><span></span>[Shift]</a>
			<a href="#" class="hotbox_links br-exit small"></a>
		</div>
		</div>

		<div class="hotbox-row clearfix">
            <a href="#" class="placeholder" id="p2-r1-c1"></a>
            <a href="#" class="placeholder" id="p2-r1-c2"></a>
            <a href="#" class="placeholder" id="p2-r1-c3"></a>
            <a href="#" class="placeholder last" id="p2-r1-c4"></a>
         </div>
         <div class="hotbox-row clearfix">

            <a href="#" class="placeholder" id="p2-r2-c1"></a>
            <a href="#" class="placeholder" id="p2-r2-c2"></a>
            <a href="#" class="placeholder" id="p2-r2-c3"></a>
            <a href="#" class="placeholder last" id="p2-r2-c4"></a>
         </div>
         <div class="hotbox-row last-row clearfix">
            <a href="#" class="placeholder" id="p2-r3-c1"></a>

            <a href="#" class="placeholder" id="p2-r3-c2"></a>
            <a href="#" class="placeholder" id="p2-r3-c3"></a>
            <a href="#" class="placeholder last" id="p2-r3-c4"></a>
        </div>
      
        <div class="indicator">
            <span class="left"></span>
            <span class="center"></span>
            <span class="right active"></span>
        </div>
    </div>
    
    <div style="display: none;" id="hotbox-panel-3" class="hotbox-panel centered-panel">
		<div class="hotbox-header">

		<h2 class="hotbox-curr">Page 3</h2>
		<div class="hotbox-arrows">
			<a href="#" class="hotbox_links br-go-previous small">[Ctrl]<span></span></a>
			<a href="#" class="hotbox_links br-go-next small"><span></span>[Shift]</a>
			<a href="#" class="hotbox_links br-exit small"></a>
		</div>
		</div>
		<div class="hotbox-row clearfix">
            <a href="#" class="placeholder" id="p3-r1-c1"></a>
            <a href="#" class="placeholder" id="p3-r1-c2"></a>
            <a href="#" class="placeholder" id="p3-r1-c3"></a>
            <a href="#" class="placeholder last" id="p3-r1-c4"></a>
         </div>
         <div class="hotbox-row clearfix">
            <a href="#" class="placeholder" id="p3-r2-c1"></a>

            <a href="#" class="placeholder" id="p3-r2-c2"></a>
            <a href="#" class="placeholder" id="p3-r2-c3"></a>
            <a href="#" class="placeholder last" id="p3-r2-c4"></a>
         </div>
         <div class="hotbox-row last-row clearfix">
            <a href="#" class="placeholder" id="p3-r3-c1"></a>
            <a href="#" class="placeholder" id="p3-r3-c2"></a>

            <a href="#" class="placeholder" id="p3-r3-c3"> </a>
            <a href="#" class="placeholder last" id="p3-r3-c4"> </a>
        </div>

        <div class="indicator">
            <span class="left active"></span>
            <span class="center"></span>
            <span class="right"></span>
        </div>
    </div>
</div>
